body {
    background-color: #b8b8b8;
    font-size: 13px;
    line-height: 18px;
    color: #333
}

#content {
    width: 800px;
    padding: 20px 30px;
    background-color: #fff;
    margin: 0 auto;
}

.h1 {
    font-size: 26px;
    line-height: 30px;
    color: #333;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 10px;
}

.h2 {
    font-size: 36px;
    line-height: 46px;
    color: #333;
    font-weight: normal;
    font-style: italic;
    padding-top: 40px;
    padding-bottom: 20px;
}

.fixed {
    position: fixed;
    top: 20px;
    right: 0px;
    width: 200px;
    padding: 20px 20px 20px 20px;
    font-style: italic;
    background-color: #666;
    color: #fff;
}

#puzzle {
    background: url("img/v4/v4-watermark.jpg") no-repeat 0 0;
    background-position: 0px 0px;
    position: relative;
    height: 514px;
    width: 650px;
    border: 5px solid #333;
    margin: 0 auto;
}

#puzzle img {
    position: absolute;
}

#img1 {
    left: 0;
    top 0;
}

#img2 {
    left: 127px;
    top: 0;
}

#img3 {
    left: 217px;
    top: 0;
}

#img4 {
    left: 397px;
    top: 0;
}

#img5 {
    left: 480px;
    top: 0;
}

#img6 {
    left: 0;
    top: 84px;
}

#img7 {
    left: 92px;
    top: 122px;
}

#img8 {
    left: 0px;
    top: 200px;
}

#img9 {
    left: 355px;
    top: 135px;
}

#img10 {
    left: 516px;
    top: 92px;
}

#img11 {
    left: 0;
    top: 258px;
}

#img12 {
    left: 128px;
    top: 216px;
}

#img13 {
    left: 217px;
    top: 254px;
}

#img14 {
    left: 388px;
    top: 214px;
}

#img15 {
    left: 479px;
    top: 257px;
}

#img16 {
    left: 0;
    top: 340px;
}

#img17 {
    left: 92px;
    top: 379px;
}

#img18 {
    left: 257px;
    top: 351px;
}

#img19 {
    left: 347px;
    top: 390px;
}

#img20 {
    left: 522px;
    top: 344px;
}