* {
    margin: 0;
    padding: 0;
}

.logo {
    height: 30px;
    width: auto;
    vertical-align: middle;
    margin-left: 10%;
    

}

.navbar-element {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    height: auto;   
    margin-left: 10%   
}

.main-headline {
    display: flex;
    padding: 20px 30px;
    flex-direction: row;
    
    justify-content: space-around;
    background-color: slategrey;
    /*background-image: "images/4238051-background.jpg";*/

}

.main-headline-image > img {
  border-radius: 10px;
}

.main-headline-text {
  padding: 0 10%;
}

.main-headline-text > a {
    background-color: #5e95ed;  
}

.as-section {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 12%;
  margin-right: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-headline-4 {
  padding: 30px;
  background-color: lightskyblue;
  display: flex;
  justify-content: space-around;

}
.main-headline-4 img {
  height: 90px;
  width: auto;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;

}

.main-headline-4 li {
  list-style-type: circle!important;

}

.headline-5 h4 {
  align: center;
  color: red;
}

.headline-5 a {
}