* {
    margin: 0;
    padding: 0;
}

.logo {
    height: 30px;
    width: auto;
    vertical-align: middle;
    margin-left: 10%;
    

}

.navbar-element {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    height: auto;   
    margin-left: 10%   
}

.main-headline {
    display: flex;
    padding: 20px 30px;
    flex-direction: row;
    justify-content: space-around;
    background-color: slategrey;
    /*background-image: "images/4238051-background.jpg";*/

}

.main-headline-text {
  padding: 0 10%;
}

.main-headline-text > a {
    background-color: #5e95ed;  
}