.inner {
  background: yellow;
  border: 2px solid green;
  padding: 3px;
  /*height: 40px;*/
}

.outer {
  border: 1px dotted black;
  display: flex;
  /*flex-direction: column-reverse;*/
  /*flex-wrap: wrap-reverse;*/
  /*flex-flow: column-reverse wrap-reverse;*/
  justify-content: space-around;
  align-items: stretch;

}

.one {
  height: 60px;
}

.two {
  height: 80px;
}